*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Courier New", "Arial";
	background-color: gray;
}
.text-background{
	font-size: 70px;
	filter: blur(2px);
	margin-left: 1em;
	color: white;
}

p{
	font-size: 30px;
	font-weight: bold;
	color: white;
	display: inline-block;
	margin-right: 1em;
	line-height: 1;
}

.container{
	display: grid;
	grid-template-rows: 40px 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 3em 3em;
}


.CodingPlayground{
	margin-left: 4em;
	background-color: lightseagreen;
	grid-row-start: 2;
}

.PlaySystem{
	background-color: lightseagreen;
	grid-row-start: 2;

}

.WeirdFlex{
	background-color: lightseagreen;
	grid-row-start: 2;

}
.OopsIGrid{
	background-color: lightseagreen;
	grid-row-start: 2;
}

.item{
	height: 20vw;
	border: none;
	z-index: -1;
}
.item:hover{
	height: 40vw;
	border: 5px solid seagreen;
	z-index: 100;
	position: absolute;


}


